.generalRating {
    display: flex;
    align-items: center;
    /* align-items: flex-start; */
    gap: 1rem;
    
}

.generalRating.large{
    align-items: flex-start;
}

.stars {
    display: flex;
    gap: 5px;
}

.stars img{
    width: 18.5px;
}

.rating {
    font-size: 14px;
    display: block;
}

.rating .five{
    color: rgb(54, 54, 54);
}

.large img{
    width: 25px;
}

span.large{
    font-size: 1rem;
}