.section {
    display: flex;
    padding-inline: 100px;
    gap: 40px;

    
}

.Details{
    width: 600px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.Details h1{
    font-family: "Integral";
}
.Details p{
    color: rgba(0, 0, 0, 0.688);
}

.Details hr{
    margin: 0;
    margin-top: 24px;
    margin-bottom: 24px;
}